/* Main styles */
/* Unica weights: 400, 500, 600, 700 */

body {
    font-family: "neue-haas-unica", sans-serif;
    background-color:#fafafa;
}

html {
    scroll-behavior: smooth;
  }

h1 {
    font-size: 60px;
    font-weight:700;
    line-height: 1.25em;
}

h2 {
    font-size: 40px;
    font-weight:700;
    line-height:1.25em;
}

h3 {
    font-size: 30px;
    font-weight:600;
    line-height:1.25em;
}

h4 {
    font-size: 24px;
    font-weight:600;
}

h5 {
    font-size: 18px;
    font-weight:600;
}

p {
    font-size: 16px;
    color: #000;
    padding-bottom:1em;
}

a {
    color:#747474;
    text-decoration:none;
}

a:hover {
    color:#ce1e4e;
    transition: 0.3s ease-in-out;
}

.text-gray {
    color:#747474;
}

.desktop-menu {
    display:none;
}

.logo {
    max-height:36px;
    display: block;
    z-index: 2;
    position: relative;
    object-fit:contain;
}

.logo img {
    object-fit:scale-down;
    background-position: left;
}

#Logo {
    transition: width linear .2s;
    object-fit:contain;
}



.outer {
    max-width:1240px;
    margin:auto;
    padding: 2em;
}

.outermost {
    max-width:1340px;
    margin:auto;
    padding: 2em;
}

.inner {
    max-width:1040px;
    margin:auto;
    padding:3em;
}



.grid-flex {
    display:flex;
    justify-content:space-between;
    align-items:center;
}



ul {
    padding: 0;
    list-style-type: none;
  }
  


.logo img {
    transition: all linear 0.3s;
}




/* Navigation */  


header {
    position: fixed;
        width: 100%;
        top: 0;
        left: 0;
    z-index: 3;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ce1e4e;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
}

.nav-item {
    margin-left: 3rem;
}







/* END Navigation Styling */


.arrow {
    opacity: 0;
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform-origin: 50% 50%;
    transform: translate3d(-50%, -50%, 0);
}
.arrow-first {
    animation: arrow-movement 2s ease-in-out infinite;
}
.arrow-second {
    animation: arrow-movement 2s 1s ease-in-out infinite;
}
.arrow:before, .arrow:after {
    background: #d0d0d0;
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
}
.arrow:before {
    transform: rotate(45deg) translateX(-23%);
    transform-origin: top left;
}
.arrow:after {
    transform: rotate(-45deg) translateX(23%);
    transform-origin: top right;
}
@keyframes arrow-movement {
    0% {
        opacity: 0;
        bottom: 15%;
   }
    70% {
        opacity: 1;
   }
    100% {
        opacity: 0;
   }
}


.btn {
    color: #ce1e4e;
    padding: .75em 2em;
    margin-right:1em;
    border: 1px solid #ce1e4e;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    transition:0.3s ease-in-out;
}

.btn:hover, .btn:focus, .btn:active {
    border: 1px solid #000;
    color: #000;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    transition:0.3s ease-in-out;
}

.highlight {
    color:#ce1e4e;
}

.tagline {
    width: 120%;
}


.hero-content h1 {
    padding-bottom:.5em;
}


.skills li {

    border-bottom: 1px solid #d0d0d0;
    padding: 1em 0;
    max-width:80%;
}



.about h4 {
    padding-bottom: 1em;
}

.work {
    padding-top: 10%;
}

.project-card h5 {
    color: #000;
    padding-top:1em;
}

.project-card {
    padding: 2em 0;
    
}

.project-img {
    overflow:hidden;
    position:relative;
}

.project-img img{
    object-fit:cover;
    transition: transform .3s ease-in-out;
}

.project-img:hover img {
    transform: scale(1.1);
}

.connection {
    padding-top: 20%;
}

.connection h2 {
    padding-top: .25em;
    padding-bottom: .75em;
    
}

.footer-content {
    border-top: 1px solid #d0d0d0;
    padding-top:2em;
}

.project-intro {
    padding-top: 20vh;
}

.space-top {
    padding-top:1em;
}

.space-bottom {
    padding-bottom:1em;
}

.little-space-bottom {
    padding-bottom:.5em;
}

@media screen and (max-width:770px) {



    .hero-content {
        position:relative;
        margin-top: 50%;
        height: 75vh;
    }

    .hero-content h1 {
        max-width: 300px;
    }

    .hero .btn {
        margin-bottom: 1em;
    }

    .hero-img {
        max-width: 500px;
        padding-top: 5em;
        margin:auto;
        display: block;
        position: relative;
    }

    .project-hero {
        max-width:100%;
    }


    .arrow {
        display: none;
    }

.connection {
    margin-top: 20%;
}

    .nav-menu {
        position: fixed;
        left: 0;
        top: 0;
        opacity: 0;
        visibility: hidden;
        flex-direction: column;
        justify-content: center;
        background-color: #fafafa;
        width: 100%;
        height: 100vh;
        transition: 0.2s ease-in-out;
        padding: 1em 3em;
        font-size: 1.4em;
        z-index: 5;
        transition: .5s ease-in-out;
        z-index: 1;
    }

    .nav-menu.active {
        visibility: visible;
        opacity: 1;
        transition: .5s ease-in-out;
    }

    header {
        background: #fafafa;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1;
    }

    .nav-item {
        margin: 1em 0;
    }

    .navbar {
        padding: 2em 3em 1.5em 3em;
        border-bottom: 1px solid #dedede;
    }

    .hamburger {
        position: relative;
        display: block;
        cursor: pointer;
        z-index: 5;
    }




    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(5px) rotate(45deg);
        transform: translateY(5px) rotate(45deg);
        z-index: 5;
    }

    .hamburger.active .bar:nth-child(2) {
        -webkit-transform: translateY(-3px) rotate(-45deg);
        transform: translateY(-3px) rotate(-45deg);
        z-index: 5;
    }

}

@media screen and (min-width:770px) {



    .col-2-half {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .col-2-66 {
        display: grid;
        grid-template-columns: 1.25fr 1fr;
    }

    .col-2-75 {
        display: grid;
        grid-template-columns: 3fr 1fr;
        }

        .col-2-25 {
            display: grid;
            grid-template-columns: 1fr 3fr;
            }

    .col-3 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2em;
    }

    .align-start {
        align-items: start;
    }

    .align-center {
        align-items:center;
    }

    .hero-content {
        display: flex;
        gap: 1em;
        justify-content: center;
        align-items: center;
        height: 80vh;
    }

    .intro {
        padding-top: 0;
        padding-right:20%;
    }

    .project-card img {
        height: 200px;
    }

    .footer-content {
        display: flex;
        justify-content: space-between;
    }

    footer .grid-item {
        padding-left: 40%;
    }
}